
html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    height: 50px;
}
.header{
    background-color: rgb(235, 235, 235);
}

/* Add your flexbox CSS below here */

section {
    display: flex;
}
#map{
    border: 1px solid; 
}
.log-container{
    overflow-y: scroll; 
    overflow-x: scroll; 
    border: 1px solid; 
    max-width: 29%; 
    min-width:29%;
}

.input_container {
    border: 1px solid #e5e5e5;
}
  
input[type=file]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
    cursor: pointer;
}
  
input[type=file]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
}

button{
    background-color: #fff;
    color: #000;
    border: 0px;
    border: 1px solid  #e5e5e5;
    padding: 10px 15px;
    transition: .5s;
    cursor: pointer;
}

button:hover{
    background-color: #eee;
}